<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="css/registration_number.css">
</head>

<body>
    <div class="container">
        <div>
            <h1>Registration numbers</h1>
e.g CA 1222, CL 123-43, CJ 123
    



            <form action="/registrationsNum" method="POST">
            <div class="error">
        
       
        {{#if messages}}
        <div class="entry {{messages.color}}">
            <p> {{messages.info}}</p>
        </div>
        {{/if}}



            </div>
                <div>
                    <input type="text" class="regNumberEntered" placeholder="enter a registration number"
                        name="reginum">

                </div>
                <button type="submit" class="addRegNumber btn">Add</button>
            </form>
            
            <form action="/registrationsFilter" method="POST">
                <div class="filter">
                    <strong>Filter by town</strong>

                    <input type="radio" name="town" value="all">Show all
                    <input type="radio" name="town" value="1">Paarl
                    <input type="radio" name="town" value="2">Cape Town
                    <input type="radio" name="town" value="3">Stellenbosch
                    <button type="submit" class="filter">filter</button>
                    

                </div>
                <a href="/reset"><button  on type="button">reset</button></a>
                 </form>
                <hr>
                {{#each reg}}
                <div class="regNumbers">

                    {{this.reg_number}}



                </div>
                {{/each}}

            


        </div>
    </div>
    
    </div>
    

</body>

</html>