<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="css/registration_number.css">
</head>

<body>
    <div class="container">
        <div>
            <h1>Registration numbers</h1>

            <div class="message">

            </div>



            <form action="/registrationsNum" method="POST">
                <div>
                    <input type="text" class="regNumberEntered" placeholder="enter a registration number" name="reginum">

                </div>
                <button type="submit" class="addRegNumber  ">Add reg number</button>
                <div class="filter">
                    <strong>Filter by town</strong>

				<input type="radio" name="town" value="">Show all
				<input type="radio" name="town" value="1">Paarl
				<input type="radio" name="town" value="2">Stellenbosch
				<input type="radio" name="town" value="3"> Cape Town
                

                </div>
                <hr>
                    {{#each reg}}
                <div class="regNumbers">
                    
                           {{this.reg_number}}
                        
                       
                    
                </div>
                {{/each}}


            </form>

        </div>
    </div>
    </div>

</body>

</html>