

.container {
		max-width: 500px;
		margin: auto;
		background: white;
		padding: 20px;
		display: flex;
	  }
	
.btn:hover{background-color: #3e8e41}

.btn:active {
		background-color: #3e8e41;
		box-shadow: 0 5px #666;
		transform: translateY(4px);
	  }

.regNumbers {

	background-color: yellow;
	border: 0.1em solid;
	border-radius: 0.25em;
	padding: 1em;
	margin: 0.5em;
	width: 7em;
	text-align: center;
	font-weight: bold;
	float: left;

}
input[type=text], select {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.error{
	font-family: sans-serif;
	font-size: small;
	color: red;
}
body{
	background-color: silver;
}
.success{
	font-family: sans-serif;
	font-size: small;
	color: green;
}